* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: auto;
}

/** typography **/    
@font-face {
  font-family: Barlow;
  src: url(../fonts/Barlow/Barlow-SemiBold.ttf);
}
@font-face {
  font-family: Fraunces-black;
  src: url(../fonts/Fraunces/Fraunces-Black.ttf);
}
@font-face {
  font-family: Fraunces-bold;
  src: url(../fonts/Fraunces/Fraunces-Bold.ttf);
}
/** typography mixins **/
/** elements typography **/
:root {
  --ligh-cyan: hsl(168, 44%, 70%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --dark-saturated-cyan: hsl(168, 46%, 31%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(210, 4%, 67%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
}

.testimonials {
  margin-top: 160px;
  margin-bottom: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
}
.testimonials__title {
  color: var(--grayish-blue);
  font-family: Fraunces-black, serif;
  font-size: 1.125rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 700px) {
  .testimonials {
    padding: 0 25px;
  }
}
.testimonial {
  max-width: 350px;
  text-align: center;
}
.testimonial:not(:last-child) {
  margin-bottom: 65px;
}
.testimonial__img {
  max-width: 70px;
  border-radius: 50%;
  margin-bottom: 60px;
}
.testimonial__text {
  color: var(--very-dark-grayish-blue);
  font-family: Barlow, sans-serif;
  font-size: 1.125rem;
  line-height: 25px;
  margin-bottom: 70px;
  font-weight: normal;
  letter-spacing: -0.13px;
}
.testimonial__name {
  color: var(--very-dark-desaturated-blue);
  font-family: Fraunces-black, serif;
  font-size: 1.125rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.testimonial__occupation {
  color: var(--grayish-blue);
  font-family: Barlow, sans-serif;
  font-size: 0.875rem;
  line-height: 25px;
  font-weight: normal;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer {
  background-color: var(--ligh-cyan);
  padding: 72px 40px;
}
.footer .footer-wrap {
  margin: auto;
  max-width: 297px;
  text-align: center;
}
.footer__logo path {
  fill: var(--dark-saturated-cyan);
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0 90px;
}
.footer__link {
  color: var(--dark-saturated-cyan);
  font-family: Barlow, sans-serif;
  font-size: 1.125rem;
  line-height: 25px;
  text-transform: capitalize;
  font-weight: normal;
}
.footer__link:hover {
  color: #fff;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 164px;
}
.footer__icon {
  fill: var(--dark-saturated-cyan);
}
.footer__icon:hover {
  fill: var(--white);
}

.contenedor-12 {
  max-width: 110px;
}

.contenedor-footer-galeria {
  width: 100%;
  overflow: hidden;
}
.contenedor-footer-galeria .contenedor-footer-galeria-foto {
  float: left;
  width: 25%;
}

/** BEM
 *
 *  block - footer
 *      items - logo, links, social icons
 *      modifier - 
 *
 *  footer
 *  footer__logo
 *  footer__links
 *
 *  footer__social
 *
 * **/
.logo-footer path {
  fill: #2C7566;
}

.footer-links-contenedor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
  margin-top: 40px;
}

.footer-logo {
  text-align: center;
}

.footer-redes-contenedor {
  max-width: 165px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-red {
  fill: #2C7566;
}
.footer-red:hover {
  fill: #fff;
}

/*# sourceMappingURL=main.css.map */
