* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.squares {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 830px) {
  .squares {
    grid-template-columns: 1fr;
  }
  .squares .square:nth-child(1) {
    order: 2;
  }
  .squares .square:nth-child(2) {
    order: 1;
  }
  .squares .square:nth-child(3) {
    order: 3;
  }
  .squares .square:nth-child(4) {
    order: 4;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 830px) {
  .service {
    min-width: 100%;
    width: 100%;
  }
}

/** typography **/    
@font-face {
  font-family: Barlow;
  src: url(../fonts/Barlow/Barlow-SemiBold.ttf);
}
@font-face {
  font-family: Fraunces-black;
  src: url(../fonts/Fraunces/Fraunces-Black.ttf);
}
@font-face {
  font-family: Fraunces-bold;
  src: url(../fonts/Fraunces/Fraunces-Bold.ttf);
}
/** typography mixins **/
:root {
  --ligh-cyan: hsl(168, 44%, 70%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --dark-saturated-cyan: hsl(168, 46%, 31%);
  --white: hsl(0, 0%, 100%);
  --dark-blue: hsl(197, 86%, 12%);
  --light-dark-blue: hsl(198, 62%, 26%);
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --grayish-blue: hsl(210, 4%, 67%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
}

.hero {
  min-height: 100vh;
  background-image: url(../images/desktop/image-header.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 830px) {
  .hero {
    background-image: url(../images/mobile/image-header.jpg);
  }
}
.hero__wrapper {
  padding: 50px 25px;
  text-align: center;
}
.hero__text {
  color: var(--white);
  font-family: Fraunces-black, serif;
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-bottom: 60px;
}
@media screen and (max-width: 500px) {
  .hero__text {
    font-size: 11vw;
  }
}
@media screen and (max-width: 500px) and (max-width: 400px) {
  .hero__text {
    font-size: 9vw;
  }
}

.navbar {
  position: relative;
  display: flex;
  background-color: #3ebfff;
  justify-content: space-between;
  align-items: center;
  padding: 35px 45px;
}
.navbar__logo {
  width: 100%;
  max-width: 170px;
}
.navbar__icon {
  background-color: transparent;
  border: none;
  display: none;
  padding: 8px;
}
.navbar__link {
  color: var(--white);
  font-family: Barlow, sans-serif;
  font-size: 1.125rem;
  line-height: 25px;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 30px;
  text-align: center;
}
.navbar__link--active {
  color: var(--very-dark-desaturated-blue);
  font-family: Fraunces-bold, serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  text-transform: uppercase;
}
.navbar__link--active:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 830px) {
  .navbar {
    padding: 35px 25px;
  }
  .navbar__icon {
    display: inline-block;
    padding: 8px 0 8px 8px;
    cursor: pointer;
  }
  .navbar__menu {
    padding: 25px 45px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 90px;
    display: none;
  }
  .navbar__menu--active {
    display: block;
  }
  .navbar__menu .wrapper {
    padding: 40px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    position: relative;
  }
  .navbar__menu .wrapper::after {
    position: absolute;
    top: -24px;
    right: 0;
    content: "";
    border-right: 24px solid var(--white);
    border-top: 24px solid transparent;
  }
  .navbar__link {
    color: var(--dark-grayish-blue);
  }
  .navbar__link--active {
    color: var(--very-dark-desaturated-blue);
    background-color: #fad400;
  }
  .navbar__link--active:hover {
    color: var(--very-dark-desaturated-blue);
    background-color: rgba(250, 212, 0, 0.25);
  }
}
.copy {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 25px;
}
@media screen and (max-width: 830px) {
  .copy {
    padding: 65px 25px;
  }
}
.copy__description {
  width: 100%;
  max-width: 460px;
}
@media screen and (max-width: 830px) {
  .copy__description {
    max-width: 370px;
  }
}
.copy__title {
  color: var(--very-dark-desaturated-blue);
  font-family: Fraunces-black, serif;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 30px;
}
.copy__text {
  color: var(--dark-grayish-blue);
  font-family: Barlow, sans-serif;
  font-size: 1.125rem;
  line-height: 25px;
  margin-bottom: 40px;
}
.copy__link {
  color: var(--very-dark-desaturated-blue);
  font-family: Fraunces-bold, serif;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}
.copy__link--yellow::after {
  position: absolute;
  content: "";
  width: 100%;
  padding: 5px 8px;
  bottom: -2px;
  z-index: -1;
  left: -8px;
  border-radius: 25px;
  opacity: 0.25;
  background-color: var(--yellow);
}
.copy__link--yellow:hover::after {
  opacity: 1;
}
.copy__link--red::after {
  position: absolute;
  content: "";
  width: 100%;
  padding: 5px 8px;
  bottom: -2px;
  z-index: -1;
  left: -8px;
  border-radius: 25px;
  opacity: 0.25;
  background-color: var(--soft-red);
}
.copy__link--red:hover::after {
  opacity: 1;
}

.service__description {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%;
  width: 100%;
  max-width: 370px;
  text-align: center;
}
@media screen and (max-width: 830px) {
  .service__description {
    bottom: 15%;
  }
}
@media screen and (max-width: 500px) {
  .service__description {
    bottom: 10%;
    padding: 0 25px;
    width: 100%;
  }
}
.service__title {
  color: var(--dark-blue);
  font-family: Fraunces-black, serif;
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 5%;
}
.service__text {
  color: var(--light-dark-blue);
  font-family: Barlow, sans-serif;
  font-size: 1rem;
  line-height: 25px;
}

.testimonials {
  margin-top: 160px;
  margin-bottom: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
}
.testimonials__title {
  color: var(--grayish-blue);
  font-family: Fraunces-black, serif;
  font-size: 1.125rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 700px) {
  .testimonials {
    padding: 0 25px;
  }
}
.testimonial {
  max-width: 350px;
  text-align: center;
}
.testimonial:not(:last-child) {
  margin-bottom: 65px;
}
.testimonial__img {
  max-width: 70px;
  border-radius: 50%;
  margin-bottom: 60px;
}
.testimonial__text {
  color: var(--very-dark-grayish-blue);
  font-family: Barlow, sans-serif;
  font-size: 1.125rem;
  line-height: 25px;
  margin-bottom: 70px;
  font-weight: normal;
  letter-spacing: -0.13px;
}
.testimonial__name {
  color: var(--very-dark-desaturated-blue);
  font-family: Fraunces-black, serif;
  font-size: 1.125rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.testimonial__occupation {
  color: var(--grayish-blue);
  font-family: Barlow, sans-serif;
  font-size: 0.875rem;
  line-height: 25px;
  font-weight: normal;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer {
  background-color: var(--ligh-cyan);
  padding: 72px 40px;
}
.footer .footer-wrap {
  margin: auto;
  max-width: 297px;
  text-align: center;
}
.footer__logo path {
  fill: var(--dark-saturated-cyan);
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0 90px;
}
@media screen and (max-width: 320px) {
  .footer__links {
    flex-direction: column;
  }
}
.footer__link {
  color: var(--dark-saturated-cyan);
  font-family: Barlow, sans-serif;
  font-size: 1.125rem;
  line-height: 25px;
  text-transform: capitalize;
  font-weight: normal;
}
.footer__link:hover {
  color: #fff;
}
@media screen and (max-width: 320px) {
  .footer__link:not(:last-child) {
    margin-bottom: 20px;
  }
}
.footer__social {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 40px;
  max-width: 164px;
}
.footer__icon {
  fill: var(--dark-saturated-cyan);
}
.footer__icon:hover {
  fill: var(--white);
}

.attribution {
  color: var(--dark-saturated-cyan);
  font-family: Barlow, sans-serif;
  font-size: 1rem;
  line-height: 25px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=main.css.map */
